<div class="informationsContainer">
  <app-top-header></app-top-header>
  <div class="container">
    <h1>Informações</h1>
    <p class="text">
      <span class="t1"
        >O EVFLIX foi desenvolvido por Kauã Santiago, Guilhardy Matos, Maria
        Aparecida Fernandes e Leticia Liberato.
      </span>
      <span class="t2">
        O intuito do EVFLIX é servir como uma plataforma de estudos para os
        estudantes que estão se preparando para fazer a prova do enem, separando
        os melhores videos de estudo para cada diciplina que o Enem cobra.
      </span>
    </p>
    <div class="contacts">
      <h2>Contatos</h2>
      <p class="email"><strong>E-mail: </strong>evflix00@gmail.com</p>
      <div class="instagram">
        <h3>Instagram dos desenvolvedores</h3>
        <div class="links">
          <ul>
            <li>
              <a href="https://instagram.com/kp.santiago" target="__blank">
                @kp.santiago
              </a>
            </li>

            <li>
              <a href="https://instagram.com/guilhardy.matos" target="__blank">
                @guilhardy.matos
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="https://instagram.com/leticia_liberatoh"
                target="__blank"
              >
                @leticia_liberatoh
              </a>
            </li>
            <li>
              <a href="https://instagram.com/aparecidaelesly" target="__blank">
                @aparecidaelesly
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
