<div class="parentContainer">
  <app-top-header></app-top-header>
  <div class="wacthVideoContainer">
    <div class="videoContainer">
      <div class="watchContainer" #watchContainer></div>
      <div class="title" *ngIf="video">
        {{ video[0].snippet.title }}
      </div>
      <div class="description" *ngIf="video">
        {{ video[0].snippet.description }}
      </div>
    </div>
    <ng-template #nothingVideo>
      <div class="nothingVideo"></div>
    </ng-template>
    <div class="relationedVideos" *ngIf="relationedVideos; else nothing">
      <div class="video" *ngFor="let video of relationedVideos">
        <div class="container" (click)="watchVideo(video.id.videoId!)">
          <div class="thumb">
            <img src="{{ video.snippet.thumbnails.high.url }}" alt="thumb" />
          </div>
          <div class="title">
            <div>
              <strong>{{ video.snippet.channelTitle }}</strong>
              <span>{{ video.snippet.publishedAt }}</span>
            </div>
            <div>{{ video.snippet.title | titlecase }}</div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #nothing>
      <div class="nothingResponse">
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
        <div class="videoCont"><span>error</span></div>
      </div>
    </ng-template>
  </div>
</div>
