<div class="parentContainer">
  <app-top-header></app-top-header>
  <div class="wacthVideoContainer">
    <div class="videoContainer">
      <div class="watchContainer" #watchContainer></div>
      <div class="title" *ngIf="video">
        {{ video[0].snippet.title }}
      </div>
      <div class="description" *ngIf="video">
        {{ video[0].snippet.description }}
      </div>
    </div>
    <ng-template #nothingVideo>
      <div class="nothingVideo"></div>
    </ng-template>
  </div>
</div>
