<div class="searchVideosContainer">
  <app-top-header></app-top-header>
  <h1>{{ searchQuery | titlecase }}</h1>
  <div class="videosContainer" *ngIf="videos; else nothing">
    <div class="video" *ngFor="let video of videos">
      <div class="container" (click)="watchVideo(video.id.videoId)">
        <div class="thumb">
          <img src="{{ video.snippet.thumbnails.high.url }}" alt="thumb" />
        </div>
        <div class="title">
          <div>
            <strong>{{ video.snippet.channelTitle }}</strong>
            <span>{{ video.snippet.publishedAt }}</span>
          </div>
          <div>{{ video.snippet.title | titlecase }}</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #nothing>
    <div class="nothingResponse">
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
      <div class="videoCont"><span>error</span></div>
    </div>
  </ng-template>
</div>
