<input type="checkbox" name="b" id="menuBtn" />
<label for="menuBtn" class="menuHumburguer">
  <div></div>
  <div></div>
  <div></div>
</label>
<header>
  <div class="logo">
    <img src="../../../../assets/enemflixLogo.svg" alt="enemflix" />
  </div>
  <div class="search-box">
    <app-search></app-search>
  </div>
  <nav class="menu">
    <h4><img src="../../../../assets/categoriesIcon.svg" />Categorias</h4>
    <ul>
      <li><a routerLink="category/Redação">Redação</a></li>
      <li><a routerLink="category/Português">Português</a></li>
      <li><a routerLink="category/Matemática">Matemática</a></li>
      <li><a routerLink="category/Geografia">Geografia</a></li>
      <li><a routerLink="category/História">História</a></li>
      <li><a routerLink="category/Física">Física</a></li>
      <li><a routerLink="category/Química">Química</a></li>
      <li><a routerLink="category/Biologia">Biologia</a></li>
      <li><a routerLink="category/Filosofia">Filosofia</a></li>
      <li><a routerLink="category/Sociologia">Sociologia</a></li>
      <li><a routerLink="category/Educação Física">Educação Física</a></li>
      <li><a routerLink="category/Inglês">Inglês</a></li>
      <li><a routerLink="category/Espanhol">Espanhol</a></li>
    </ul>
  </nav>
  <div class="informationsBtn">
    <a routerLink="informations">Informações</a>
  </div>
</header>
