<header>
  <div class="logo">
    <img src="" alt="enemflix" />
  </div>
  <div class="search-box">
    <app-search></app-search>
  </div>
  <nav class="menu">
    <h4>Categorias</h4>
    <ul>
      <li><a routerLink="category/Redação">Redação</a></li>
      <li><a routerLink="category/Português">Português</a></li>
      <li><a routerLink="category/Matemática">Matemática</a></li>
      <li><a routerLink="category/Geografia">Geografia</a></li>
      <li><a routerLink="category/História">História</a></li>
      <li><a routerLink="category/Física">Física</a></li>
      <li><a routerLink="category/Química">Química</a></li>
      <li><a routerLink="category/Biologia">Biologia</a></li>
      <li><a routerLink="category/Filosofia">Filosofia</a></li>
      <li><a routerLink="category/Sociologia">Sociologia</a></li>
      <li><a routerLink="category/Educação Física">Educação Física</a></li>
      <li><a routerLink="category/Inglês">Inglês</a></li>
      <li><a routerLink="category/Espanhol">Espanhol</a></li>
    </ul>
  </nav>
  <div>
    <a routerLink="informations">Informações</a>
  </div>
</header>
