<app-top-header></app-top-header>
<div class="categoriesContainer">
  <h1>{{ categoryName }}</h1>
  <div class="videosContainer">
    <div class="video" *ngFor="let video of category">
      <div class="container" (click)="redirectToVideo(video.id.videoId)">
        <div class="thumb">
          <img src="{{ video.snippet.thumbnails.high.url }}" alt="videoThumb" />
        </div>
        <div class="title">
          <div>
            <strong>{{ video.snippet.channelTitle }}</strong>
            <span>{{ video.snippet.publishedAt }}</span>
          </div>
          <div>{{ video.snippet.title | titlecase }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
