form {
  display: flex;
  align-items: center;
}

form input {
  background-color: #72727276;
  color: #fff;
  width: 170px;
  padding: 6px 5px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: 6px;
}

form button {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
}

form button:hover {
  box-shadow: 0 0 5px 0.5px rgba(0, 255, 70, 0.6);
  transform: scale(1.07);
}

form button img {
  margin: auto 0;
}

form button img {
  width: 28px;
}
