<div class="categoryMenuContainer">
  <app-top-header></app-top-header>
  <div class="container">
    <ul class="subjects">
      <li><a (click)="redirect('category/Redação')">Redação</a></li>
      <li><a (click)="redirect('category/Matemática')">Matemática</a></li>
      <li><a (click)="redirect('category/Português')">Português</a></li>
      <li><a (click)="redirect('category/Inglês')">Inglês</a></li>
      <li><a (click)="redirect('category/SAEB')">SAEB</a></li>
    </ul>
    <ul class="subjects">
      <li>
        <a (click)="redirect('category/Espanhol')">Espanhol</a>
      </li>
      <li>
        <a (click)="redirect('category/Educação Física')">Educação Física</a>
      </li>
      <li>
        <a (click)="redirect('category/Filosofia')">Filosofia</a>
      </li>
      <li>
        <a (click)="redirect('category/Sociologia')">Sociologia</a>
      </li>
      <li>
        <a (click)="redirect('category/SPAECE')">SPAECE</a>
      </li>
    </ul>
    <ul class="subjects">
      <li>
        <a (click)="redirect('category/Física')">Física</a>
      </li>
      <li>
        <a (click)="redirect('category/Química')">Química</a>
      </li>
      <li>
        <a (click)="redirect('category/Biologia')">Biologia</a>
      </li>
      <li>
        <a (click)="redirect('category/Geografia')">Geografia</a>
      </li>
      <li>
        <a (click)="redirect('category/História')">História</a>
      </li>
    </ul>
  </div>
</div>
