<div class="home-container">
  <app-side-header></app-side-header>
  <div class="main">
    <!-- SLIDE -->
    <app-slide [slideImages]="imagesSlide"></app-slide>
    <!-- PLAYLIST  -->
    <div class="playlists-container">
      <div class="playlist">
        <h2>Descomplica</h2>
        <div class="passBtns">
          <span #left>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #videoD *ngIf="descomplica">
          <div class="video" *ngFor="let video of descomplica">
            <div
              class="container"
              (click)="watchVideo(video.id.videoId)"
              #cVideo
            >
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
                <div class="title">
                  <div>
                    <strong>{{ video.snippet.channelTitle }}</strong>
                    <span>{{ video.snippet.publishedAt }}</span>
                  </div>
                  <div>{{ video.snippet.title | titlecase }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist">
        <h2>Brasil Escola</h2>
        <div class="passBtns">
          <span #left2>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front2>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #videoB *ngIf="brasilEscola">
          <div class="video" *ngFor="let video of brasilEscola">
            <div class="container" (click)="watchVideo(video.id.videoId)">
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
              </div>
              <div class="title">
                <div>
                  <strong>{{ video.snippet.channelTitle }}</strong>
                  <span>{{ video.snippet.publishedAt }}</span>
                </div>
                <div>{{ video.snippet.title | titlecase }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist">
        <h2>Stoodi</h2>
        <div class="passBtns">
          <span #left3>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front3>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #videoS *ngIf="stoodi">
          <div class="video" *ngFor="let video of stoodi">
            <div class="container" (click)="watchVideo(video.id.videoId)">
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
              </div>
              <div class="title">
                <div>
                  <strong>{{ video.snippet.channelTitle }}</strong>
                  <span>{{ video.snippet.publishedAt }}</span>
                </div>
                <div>{{ video.snippet.title | titlecase }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
