<div class="home-container">
  <app-side-header></app-side-header>
  <div class="main">
    <!-- SLIDE -->
    <app-slide [slideImages]="imagesSlide"></app-slide>
    <!-- PLAYLIST  -->
    <div class="playlists-container">
      <div class="playlist">
        <h2>Redação</h2>
        <div class="passBtns">
          <span #left>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #video *ngIf="redacao">
          <div class="video" *ngFor="let video of redacao">
            <div
              class="container"
              (click)="watchVideo(video.id.videoId)"
              #cVideo
            >
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
                <div class="title">
                  <div>
                    <strong>{{ video.snippet.channelTitle }}</strong>
                    <span>{{ video.snippet.publishedAt }}</span>
                  </div>
                  <div>{{ video.snippet.title | titlecase }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist">
        <h2>Matemática e suas tecnologias</h2>
        <div class="passBtns">
          <span #left2>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front2>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #video2 *ngIf="matEsuasTec">
          <div class="video" *ngFor="let video of matEsuasTec">
            <div
              class="container"
              (click)="watchVideo(video.id.videoId)"
              #cVideo
            >
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
                <div class="title">
                  <div>
                    <strong>{{ video.snippet.channelTitle }}</strong>
                    <span>{{ video.snippet.publishedAt }}</span>
                  </div>
                  <div>{{ video.snippet.title | titlecase }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist">
        <h2>Linguagens e códigos</h2>
        <div class="passBtns">
          <span #left3>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front3>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #video3 *ngIf="lingEcodigos">
          <div class="video" *ngFor="let video of lingEcodigos">
            <div
              class="container"
              (click)="watchVideo(video.id.videoId)"
              #cVideo
            >
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
                <div class="title">
                  <div>
                    <strong>{{ video.snippet.channelTitle }}</strong>
                    <span>{{ video.snippet.publishedAt }}</span>
                  </div>
                  <div>{{ video.snippet.title | titlecase }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist">
        <h2>Ciências da Natureza</h2>
        <div class="passBtns">
          <span #left4>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front4>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #video4 *ngIf="cienciasDaNatureza">
          <div class="video" *ngFor="let video of cienciasDaNatureza">
            <div class="container" (click)="watchVideo(video.id.videoId)">
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
              </div>
              <div class="title">
                <div>
                  <strong>{{ video.snippet.channelTitle }}</strong>
                  <span>{{ video.snippet.publishedAt }}</span>
                </div>
                <div>{{ video.snippet.title | titlecase }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist">
        <h2>Ciências Humanas</h2>
        <div class="passBtns">
          <span #left5>
            <fa-icon [icon]="arrowLeft"></fa-icon>
          </span>
          <span #front5>
            <fa-icon [icon]="arrowRight"></fa-icon>
          </span>
        </div>
        <div class="videos-container" #video5 *ngIf="cienciasHumanas">
          <div class="video" *ngFor="let video of cienciasHumanas">
            <div class="container" (click)="watchVideo(video.id.videoId)">
              <div class="thumb">
                <img
                  src="{{ video.snippet.thumbnails.high.url }}"
                  alt="playlist"
                />
              </div>
              <div class="title">
                <div>
                  <strong>{{ video.snippet.channelTitle }}</strong>
                  <span>{{ video.snippet.publishedAt }}</span>
                </div>
                <div>{{ video.snippet.title | titlecase }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
