.slideContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

input {
  display: none;
}

.slideContainer img {
  width: 100%;
  height: fit-content;
  max-height: 92vh;
}

.slideContainer .dotsContainer {
  display: flex;
  gap: 20px;
  position: absolute;
  top: calc(90% - 15px);
}

.slideContainer .dots {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  z-index: 2;
}

.active {
  background-color: #000;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 860px) {
  .slideContainer {
    height: fit-content;
  }

  img {
    height: 500px;
  }
}
